requests==2.32.2
flask==3.0.3
flask-cors==4.0.1
pandas==2.2.2
vanna==0.6.2
langchain==0.2.1
langchain-community==0.2.1
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.0
llama-index==0.10.51
llama-index-embeddings-langchain==0.1.2
chromadb==0.5.3